#header {
    background-color:#FFFFFF;
    color:white;
    text-align:center;
    padding:1px;
}

#footer {
    
    
    background-color:#FFFFFF;
    color:white;
    clear:both;
    text-align:center;
    padding:100px; 
}


#text {
    color:#FF0066;
    clear:both;
   
}

